*,
::after,
::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --icon-clr: #e2b616;
  /* fonts  */
  --headingFont: "Roboto Condensed", Sans-Serif;
  --bodyFont: "Cabin", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: #000;
  /* --clr-grey: #2b2d31; */
  --clr-grey: #121212;
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 0.25vw;
  transition: var(--transition);
}
::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #7f8280;
  border-radius: 3rem;
  transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
  border-radius: 3rem;
}

::-webkit-scrollbar-track {
  background-color: lightgrey;
}

.container {
  color: white;
  min-height: calc(100vh - 5rem);
  background: var(--backgroundColor);
}
.follow-btn {
  font-size: 1rem;
  padding: 0.2rem;
  cursor: pointer;
  background: white;
  font-weight: 550;
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.spin-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
